*
C:/Users/BiSBII/Documents/iplantsdb/json_files/
C:/Users/BiSBII/Documents/iplantsdb/downloads/
C:/Users/BiSBII/Documents/iplantsdb/protein_sequences/
C:/Users/BiSBII/Documents/iplantsdb/db.sqlite3/
C:/Users/BiSBII/Documents/iplantsdb/venv/